[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=leo
Group=leo

WorkingDirectory=/home/leo/kreatiff
Environment="PYTHONPATH=/home/leo/kreatiff/"
ExecStart=/home/leo/kreatiff/.venv/bin/python /home/leo/kreatiff/main.py

[Install]
WantedBy=multi-user.target
